# Dependencies
node_modules/
npm-debug.log*

# Build
.next/
out/
*.tsbuildinfo

# Keep SQLite DB in repo for schema seeding
data/*.db-shm
data/*.db-wal

# OS
.DS_Store
*.pem

# IDE
.vscode/
.idea/

# Env
.env*.local
.env
